<ion-grid fixed>
  <ion-row>
    <ion-col  size-xl="2"
              size-md="2"
              size-sm="1"
              size-xs="0">
      
    </ion-col>
    <ion-col  size-xl="8"
              size-md="8"
              size-sm="10"
              size-xs="12">
      <ion-card>
        <ion-card-title
          class="ion-padding-horizontal ion-padding-top ion-text-center"
          color="primary"
          >Aún no hay artículos
          </ion-card-title>

        <ion-img src="../../assets/Publish article-rafiki.svg"></ion-img>

        <ion-card-content class="ion-no-padding ion-padding-horizontal ion-padding-bottom">
            Para agregar un artículo a tus favoritos, siga estos pasos:<br />
            1. Encuentra el artículo que te gustaría agregar a tus favoritos.<br />
            2. Presione el ícono
            <ion-icon
              color="primary"
              slot="icon-only"
              name="ellipsis-vertical"
            ></ion-icon>
            que se encuentra en la esquina superior derecha del artículo y luego toque la opción "Agregar a favoritos".<br />
            3. Verifica que el artículo se haya agregado a tus favoritos accediendo a la sección.<br />
            Eso es todo! Ahora puedes acceder fácilmente a tus artículos favoritos cuando quieras. ¡Disfruta!
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col  size-xl="2"
              size-md="2"
              size-sm="1"
              size-xs="0">
      
    </ion-col>
  </ion-row>
</ion-grid>
